<h1><%= @summary.description %></h1>

<% if @summary.update? %>
  <% link_to "Edit Summary", edit_summary_path, class: 'btn btn-success' %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @summary.description %></p>
    <% @posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to summary.description, [@summary, @post] %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if @summary.new).create? %>
      <%= link_to "New Summary", new_summary_post_path(@summary), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
