<%= form_for [@post, @post.comments.new], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :placeholder, 'Add a comment' %>
    <%= f.text_area :body, rows: 8, class: 'form-control'  %>
    <%= f.submit "Create Comment", class: 'btn btn-success btn-sm' %>
  </div>
<% end %>