<h1>About Bloccit</h1>
<p>Created by: <%= my_name %> and a lot of help from my mentor at <%= link_to "Bloc", "https://www.bloc.io" %>.</p></br>

<%= link_to "Follow me", "https://www.facebook.com/jamalehreneau", class: "social-btn" %></br></br>
<p class="description">Bloccit is a Reddit-copy where users can post, vote on, share and save links and make comments.</p></br>