<h1>New Post</h1>

<div class="row">

  <div class="col-md-4">

    <p>Guidelines for posts</p>
    <ul>
      <li>Make sure it rhymes.</li>
      <li>Don't use the letter "A".</li>
      <li>The incessant use of hashtags will get you banned.</li>
    </ul>
  </div>

  <div class="col-md-8">

   <%= render partial: 'form', locals: { topic: @topic, post: @post } %>

  </div>
</div>
<script type="text/javascript">
  var blocmetrics = {
    report: function(val){
      var _bm_event = {
        event: {
          name: val
        }
      }

      var _bm_request = new XMLHttpRequest();
      _bm_request.open('POST', 'http://localhost:3000/api/events', true);
      _bm_request.setRequestHeader('Content-Type', 'application/json');

      _bm_request.onreadystatechange = function(){

      };
      _bm_request.send(JSON.stringify(_bm_event));
    }
  }

  $(document).ready(function(){
    $('#commit-to-send').click(function(){
      blocmetrics.report($('#send-title').val());
    })
  })
</script>

